<div class="footer">
    <div class="left">
        <a class="black" target="_blank" rel="license" href="">
        Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
    </div>
    <div class="right">
        (<a target="_blank" href="{{ "link.url.twitter_thierrymarianne"|trans }}">@{{ "link.label.twitter_thierrymarianne"|trans }}</a> |
        {{ "link.label.email_author"|trans }}<a target="_blank" href="{{ "link.url.twitter_theodo"|trans }}">@{{ "link.label.twitter_theodo"|trans }}</a>[point]fr)
    </div>
</div>